body,html{
  height:100%;
}

#diagnostics{
  position:absolute;
  top:0;
  right:0;
  z-index:1000;
  width:600px;
  height:100%;
  background:yellow;
}

.root{
  /*padding:1px;*/
  width:100%;
  height:100%;
  float:left;
}

.layout-nav-btn{
  margin-left: 15px;
  margin-right:15px;
  margin-top:2px;
  margin-bottom:2px;
}

.borderBox{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;  
}


.bs-docs-sidenav{
  margin-top:0 !important;
}

.bs-docs-sidenav > li:first-child > a {
    border-radius:  0 !important;
    border-top: 0 !important;
}

.bs-docs-sidenav > li > a{
  -webkit-tap-highlight-color:rgba(0,0,0,0); /*remove the weird highlight on tap*/
}

.layout-sidebar-header, .layout-list-header, .layout-details-header{
  padding:0 !important;
  background-color:#eeeeee;
  width:100%;
  min-height:36px;
}

.contentContainer{
  position:absolute;
  width:100%;
  top:36px;
  bottom:0;
  overflow:auto;
}

.layout-sidebar-header{
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-radius: 6px 0 0 0; 
}

.layout-list-header{
  border-right: 1px solid #e5e5e5; 
}

.layout-details-header{
  border-right: 1px solid #e5e5e5;
  border-radius: 0 6px 0 0; 
}

.toolbarButton{
  font-size:24px;
  margin-top:4px;
  margin-right:24px;
  float:right;
  cursor:pointer;
}

@media (min-width: 320px){
  .layout-sidebar, .layout-list, .layout-details{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height:100%;
  }
  .layout-sidebar:not(.active){
    display: none;
  }
  .layout-list:not(.active){
    display: none;
  }
  .layout-details:not(.active){
    display: none;
  }  
}

@media (min-width: 768px){
  .layout-sidebar, .layout-list{
    width: 50%;
    z-index:2;
  }
  .layout-details{
    z-index:1;
  }
  .layout-details:not(.active){
    display:block;
  }
}

@media (min-width: 992px) and (orientation:landscape){
  .layout-details-header-navigation{
    display:none;
  }
  .layout-sidebar, .layout-list,.layout-details{
    position:relative;
    float:left;
    z-index:1;
  }
  .layout-sidebar, .layout-list{
    width:35%;
  }
  .layout-details{
    width:65%;
  }
  .layout-list:not(.active){
    display: block;
  }    
  .layout-details:not(.active){
    display: block;
  }    
}

@media (min-width: 1200px){
  .layout-list-header-navigation{
    display:none;
  }  
  .layout-sidebar, .layout-list{
    width:25%;
  }
  .layout-details{
    width:50%;
  }
  .layout-sidebar:not(.active){
    display: block;
  }      
  .layout-list:not(.active){
    display: block;
  }    
  .layout-details:not(.active){
    display: block;
  }     
}