<div style='width:100%;text-align:right;'>
  <h1 ng-bind='data.Country'></h1>
  <div>
    Capital: <b ng-bind='data.Capital'></b>
  </div>
  <div>
    Currency: <b ng-bind='data.Currency'></b>
  </div>
  <div>
    Population: <b ng-bind='data.Population'></b>
  </div>
</div>