<ul style='width:100%;' class='nav nav-list bs-docs-sidenav'>
  <li ng-repeat='item in data' ng-class="{active:item.Country==selectedItemId}">
  <a href='javascript:void(0)' href-no-touch="#/{{item.MapReference}}/{{item.Country}}" style='color:#333333;'>
    <h4 ng-bind='item.Country'></h4>
    <span ng-bind='item.Capital'></span>
  </a>
  </li>
</ul>



