<ul style='width:100%;' class='nav nav-list bs-docs-sidenav'>
  <li ng-repeat='item in data' ng-class="{active:item==selectedItemId}">
    <a ng-href='#/{{item}}'>
      <i class=icon-chevron-right></i>
      <span ng-bind='item'></span>
    </a>
  </li>
</ul>
