<ul style='width:100%;' class='nav nav-list bs-docs-sidenav'>
  <li ng-repeat='item in data' ng-class="{active:item._id==selectedItemId}">
  <a href='javascript:void(0)' href-no-touch="#/applications/{{item._id}}" style='color:#333333;'>
    <h4 ng-bind='item.name'></h4>
    <span ng-bind='item.description'></span>
  </a>
  </li>
</ul>



