<script type='text/ng-template' id='sidebarPanelHeader.html'>
  <div class='layout-sidebar-header nav-header borderBox'>
    {{appTitle}}
  </div>
</script>

<script type='text/ng-template' id='listPanelHeader.html'>
  <div class='layout-list-header nav-header borderBox'>
    <a  ui-if='sidebarItemSelected' class='layout-list-header-navigation layout-nav-btn btn btn-primary' href="#">
      <i class=' icon-chevron-left icon-white'></i> {{appTitle}}
    </a>  
    <span ui-if='sidebarItemSelected' class='layout-list-header-navigation'>{{sidebar.selectedItemId}}</span> 
    <i ng-repeat='command in list.commands' ng-class='command.icon' class='toolbarButton' ng-click='command.execute()'></i>  
  </div>
</script>

<script type='text/ng-template' id='detailsPanelHeader.html'>
  <div class='layout-details-header borderBox'>
    <a class='layout-details-header-navigation layout-nav-btn btn btn-primary' href="#/{{sidebar.selectedItemId}}">{{sidebar.selectedItemId}}</a>  
  </div>
</script>


<div ui-if='initialized' class='root'>
  <div class='layout-sidebar' ng-class="{active:!sidebarItemSelected}">
    <ng-include src="'sidebarPanelHeader.html'"></ng-include>
    <div class='contentContainer'>
      <dataview template-id='sidebar.template' resource-id='sidebar.dataResourceId' selected-item-id='sidebar.selectedItemId' watch-required='sidebar.watchRequired'></dataview>
    </div>  
  </div>

  <div  class='layout-list' ui-if='sidebarItemSelected' ng-class="{active:sidebarItemSelected && !detailsItemSelected}">
    <ng-include src="'listPanelHeader.html'"></ng-include>
    <div class='contentContainer'>
      <dataview template-id='list.template' resource-id='list.dataResourceId' selected-item-id='list.selectedItemId' watch-required='list.watchRequired'></dataview>
    </div>
  </div> 

  <div class='layout-details'  ng-class="{active:detailsItemSelected}">
    <ng-include src="'detailsPanelHeader.html'"></ng-include>
    <div class='contentContainer'>
      <dataview template-id='details.template' resource-id='details.dataResourceId' details-id='details.detailsId' ui-if='details.detailsId' watch-required='details.watchRequired'></dataview>
    </div>
  </div>   
  <!--textarea id='diagnostics'></textarea-->
</div>
